@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Navbar */
a:hover {
  transition: all 0.3s;
  text-decoration: underline;
}

#c-icon:active {
  color: black !important;;
}

a.active {
  color: #8fa6c9;
  transition: all 0.3s;
}

/* Home */
.homepage {
  margin-top: 1em;
}

.intro-container {
  height: 100vh;
  width: 100vw;
  padding: 10em 0 0 0;
  background: #f5f5f7;
  margin-top: 3.5em;
}

#intro-text {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: -0.5px;
  position: relative;
  z-index: 1;
}

#scrollt-btn {
  position: fixed;
  font-size: 2em;
  bottom: 40px;
  right: 40px;
  color: #8fa6c9;
  text-align: center;
}

#scrollt-btn:hover {
  color: #778cad;
}

#down-arrow {
  font-size: 1.7em;
  color: #75635b;
}

#sparkle-png {
  height: 5em;
  width: 5em;
  position: sticky;
}

#sparkle-wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  margin-top: -2em;
  margin-left: 28%;
  transform: rotate(5deg);
}

section {
  box-sizing: border-box;
  width: 100%;
  /* height: 101vh; */
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  overflow: hidden;
  background: #f5f5f7;
}

section:nth-child(2) {
  background: #f5f5f7;
  justify-content: center !important;
}

section:nth-child(3) {
  /* background: #f9f9f9; */
  /* background: #f5f5f5; */
  background-color: white;
}

section:nth-child(4) {
  background: #acc6e4;
}

section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

#intro-section {
  height: 100vh;
  margin-top: 5em;
  width: 100vw;
}

.heading-title {
  font-weight: 700;
  font-family: 'Inter-Bold', 'Inter', sans-serif;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: -4px;
}

nav {
  position: fixed;
  top: 0;
}

#menu-icon {
  background: White;
}

.portfolio-wrapper {
  width: 100vw;
  padding-bottom: 5em;
  background-color: white;
  padding-top: 3.5em;
  min-height: 100vh;
}

#project-title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 1em;
}

#project-title:hover {
  color: #8fa6c9;
}

#project-topic {
  color: #505050;
  font-size: 15px;
}

#project-description {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

div.css-6iw18y > div:nth-child(1) > div:hover {
  color: #8fa6c9;
}
div.css-6iw18y > div:nth-child(2) > div:hover {
  color: #8fa6c9;
}
div.css-6iw18y > div:nth-child(3) > div:hover {
  color: #8fa6c9;
}

/* About */
.about {
  width: 100vw;
  max-width: 100%;
}

#about-text {
  font-family: 'Inter', sans-serif;
  line-height: 1.8;
}

/* Text Animation */
.animated-text {
  font-size: 40px;
  /* text-transform: uppercase; */
  /* color: white; */
  font-weight: bold;
  /* background: linear-gradient(to right, #76baba 0%, #330867 100%); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-weight: 700;
  font-family: 'Inter-Bold', 'Inter', sans-serif;
  /* color: #8fa6c9; */
  letter-spacing: -1px;
  color: #8ea6c9;
}

div.animated-text {
  position: relative;
  z-index: 1;
}

.icon-container {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
}

.icon-container .box-icon {
  height: 142px;
  margin-bottom: 10px;
}

.box-icon {
  font-size: 3.5em;
  color: #8fa6c9;
}

.icon-title {
  font-size: medium;
  white-space: nowrap;
  padding-top: 0.5em;
  color: #505050;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.box-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contact */
#contact {
  height: 100%;
}

.amplify-button--primary {
  background: #8fa6c9 !important;
}

/* Footer */
#curved-border {
  /* bottom: 0; */
  /* bottom: 70px; */
  position: sticky;
  /* z-index: -1; */
  width: 100vw;
  fill: #8ea6c9;
  background: inherit;
}

#footer {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: white;
}

#footer a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.wavy-border {
  overflow: hidden;
}

@media (max-width: 480px) {
  .animated-text {
    font-size: 40px;
  }
}

@media (max-width: 481px) {
  .css-r6z5ec {
    transform: translate3d(-0.4rem, 108px, 0px) !important;
  }
}

@media (min-width: 480px) {
  #sparkle-wrapper {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .box-icon {
    font-size: 4.5em;
  }
  .animated-text {
    font-size: 60px;
  }

  #sparkle-wrapper {
    justify-content: space-around;
    margin-top: -1.5em;
    margin-left: 23%;
    transform: rotate(7deg);
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .box-icon {
    font-size: 5.5em;
  }
  .icon-title {
    font-size: large;
  }

  .animated-text {
    font-size: 80px;
  }
  .css-onkibi {
    width: 2em !important;
    height: 2em !important;
  }
}

@media (min-width: 1280px) {
  .box-icon {
    font-size: 6.5em;
  }
  #sparkle-wrapper {
    margin-left: 35%;
    max-width: 300px;
    justify-content: start;
  }
}

@media (min-width: 1440px) {
  #sparkle-wrapper {
    margin-left: 17%;
    justify-content: end;
  }
}

.btn-animation {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  margin-top: 1em;
}

.css-o20sne:hover,
.css-o20sne[data-hover] {
  background: none !important;
  color: #8fa6c9;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
